<footer class="footer">
    <div class="container">
        <b class="footer__pre-text">homemade ice cream made</b>
        <b class="footer__text">with passion</b>
    <div class="container-wrap">
    <ul class="social">
        <li class="list social__list"><a class="link social__link" href=""></a></li>
        <li class="list social__list"><a class="link social__link" href=""></a></li>
        <li class="list social__list"><a class="link social__link" href=""></a></li>
    </ul>
    <address class="address">Feel free to contact
        <a class="link address__link" href="tel:+1112223344">+61 (0) 383 766 284</a>
    </address>
    </div>
    <p class="footer-text__rights">
        © 2019 - IceCream. All Rights Reserved.
    </p>
    </div>
</footer>